

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Event space</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.duration %> min</td>
        <td><%= event.category.genre %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="nav">
  <nav class="main_nav">
    <a href="/events">Events</a> |
    <a href="/event_spaces">Event Spaces</a> |
    <a href="/categories">Categories</a> |
    <a href="/seats">Seats</a> |
    <a href="/users">All Users</a>
  </nav>
</div>
